@import "bourbon/bourbon";
@import "_palette.scss";

@include keyframes(switch-on-transform) {
  0% {
    @include transform(translate(2px,2px));
    width: 12px;
  }
  25% {
    @include transform(translate(6px,2px));
    width: 16px;
  }
  100% {
    @include transform(translate(10px,2px));
    width: 12px;
  }
}
@include keyframes(switch-off-transform) {
  0% {
    @include transform(translate(8px,2px));
    width: 12px;
  }
  25% {
    @include transform(translate(4px,2px));
    width: 16px;
  }
  100% {
    @include transform(translate(2px,2px));
    width: 12px;
  }
}
@include keyframes(switch-off-color) {
  0% {
    background: $green;
  }
  100% {
    background: white;
  }
}
@include keyframes(switch-on-color) {
  0% {
    background: white;
  }
  100% {
    background: $green;
  }
}

/* must specify class="switch" so as to not conflict w/ class="checkbox". Trust me; easier this way */

input[type="checkbox"].switch {
  position: relative;
  display: inline-block;
  width: 24px;
  height: 16px;
  border-radius: 8px;
  background: transparent;
  box-shadow: inset 0 0 1px 1px rgba(0,0,0,0.125);
  border: none;
  -webkit-appearance: none;
  -webkit-tap-highlight-color: transparent;
  outline: none;
  cursor: pointer;
  @include animation(switch-off-color 0.25s ease-out forwards);
  &:focus {
    outline: none;
  }
  &:active {
    box-shadow: inset 0 0 0px 1px rgba(0,0,0,0.065), inset 0 0 0px 2px rgba(0,0,0,0.065);
  }
  &:before {
    content: "";
    position: absolute;
    z-index: 2;
    display: inline-block;
    width: 12px;
    height: 12px;
    border-radius: 8px;
    background-color: white;
    box-shadow: 0 1px 2px rgba(0,0,0,0.125), 0 0 0 1px rgba(0,0,0,0.125);
    @include transform-origin(center center);
    @include animation(switch-off-transform 0.25s ease-out forwards);
  }
  &:checked {
    @include animation(switch-on-color 0.25s ease-out forwards);
    box-shadow: none;
    &:before {
      box-shadow: 0 1px 2px rgba(0,0,0,0.125),;
      @include filter(drop-shadow(0 1px 2px rgba(0,0,0,0.25)));
      @include animation(switch-on-transform 0.25s ease-out forwards);
    }
  }
}