$bluelight: #189afa;
$blue: #2c97de;
$blued: #127dc4;
$green: #2cbf6d;
$greend: #12a553;
$yellow: #efc663;
$yellowd: #d5ac49;
$red: #e16070;
$redd: #c74656;
$purple: #9677df;
$purpled: #7c5dc5;

$blue3: #39d7e6;
$green3: #60bf7f;
$yellow3: #60bf7f;
$orange3: #ff7640;
$red3: #ff737e;
$pink3: #f261b8;
$purple3: #b780ff;

$background: #f5f6f7;
$slate: #c2c8cf;
$slatetext: #8c939c;
